@charset "UTF-8";

body {
	background-color: rgb(242, 190, 28);
}

#logo {
	padding: 20px 0px;
}

#logoImg {
	width: 1000px;
	height: 250px;
	display: block;
	margin: 0px auto;
}

a {
	text-decoration: none;
}

/* unvisited link */
a:link {
	color: rgb(240, 89, 10);
}

/* visited link */
a:visited {
	color: rgb(240, 89, 10);
}

/* mouse over link */
a:hover {
	color: rgb(240, 89, 10);
	font-weight: bold;
}

/* selected link */
a:active {
	color: rgb(240, 89, 10);
}

table {
	font-family: "arial", "serif";
	margin: 0px auto;
	border-spacing: 7px;
	border-collapse: separate;
}

.d {
	font-family: "arial", "serif";
	font-size: 18px;
}